<div  class="main">
    <a href=""> <i class="bi bi-person-circle"></i> لينك الصفحة الشخصية للطالب </a>
    <a href=""> <i class="bi bi-house-door-fill"></i> لينك لصفحة الاوضة  </a>
    <i class="bi bi-chat-dots-fill"></i>
  <button class="confirm"> تاكيد </button>
  <button class="delete"> حذف </button>
      </div>
    
        <div  class="main">
            <a href=""> <i class="bi bi-person-circle"></i> لينك الصفحة الشخصية للطالب </a>
            <a href=""> <i class="bi bi-house-door-fill"></i> لينك لصفحة الاوضة  </a>
            <i class="bi bi-chat-dots-fill"></i>
          <button class="confirm"> تاكيد </button>
          <button class="delete"> حذف </button>
              </div>
        <script src="https://kit.fontawesome.com/e5f98d5919.js" crossorigin="anonymous"></script>