<div class="content btn-group">
  <div class="main">
  <a class="btn btn-primary active" [routerLink]="['./not-confirmed-booking']" routerLinkActive="router-link-active" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">الطلبات الغير المؤكدة</a>
  <a class="btn btn-primary" [routerLink]="['./confirmed-booking']" routerLinkActive="router-link-active" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">الطلبات المؤكدة</a>
</div>
</div>

<router-outlet></router-outlet>
