
.content{
    display: flex;
    flex-direction: column;
    }
    
    
    .main{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .confirmed{
        font-size: 2vw;
        border: 2px rgb(57, 214, 123) solid;
        border-radius: 20px;
       padding-right: 5%;
        padding-left: 5%;
        background-color: rgb(57, 214, 123);
    }
    
    .notconfirmed{
        font-size: 2vw;
        border: 2px rgb(57, 214, 123) solid;
        border-radius: 20px;
       padding-right: 5%;
        padding-left: 5%;
        background-color: rgb(57, 214, 123);
    }
    
    .confirmed:hover{
        background-color: aqua;
        border: 2px aqua solid;
    }
    
    .notconfirmed:hover{
        background-color: aqua;
        border: 2px aqua solid;
    }
    @media (max-width: 768px){
        
    .notconfirmed{
        font-size: 4vw;
    }
    
    .confirmed{
        font-size: 4vw;
    }
    
    }