

<div class="btn-group">
    <button class="add" (click)="navigateToAddFlat()" > + اضافة شقة </button>
       </div>

@for(flat of flats;track $index){
    <div class="item ">
        <img src="sakanapi.runasp.net/images/2d75a43e-b027-406b-b98d-f749190bea09.jpg" alt="image">

        <div class="body">
          <h4> {{flat.discreption}}</h4>
          <!-- <p> {{flat.}}</p> -->
        </div>

        <div class="details">
          <button class="btnedi" (click)="editFlat(flat.id)"> تعديل </button>
          <button class="btndel" (click)="deleteFlat(flat.id)"> حذف </button>
        </div>
      </div>
    }
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
  