<div class="container">
    <header>
        <img src="../../../../../assets/imgs/logo.png" alt="Logo" class="logo">
        <h1>مرحباً بك في ساكن</h1>
    </header>
    <div class="content">
        <p>مع ساكن</p>
        <p>هتلاقي سكنك في أسرع وقت</p>
        <p>هنوفرلك سكن مع أشخاص</p>
        <p>لهم نفس اهتماماتك وهواياتك</p>
        <p>كل الي عليك تكمل البيانات الآتية </p>
    </div>
    <div class="buttons">
        <button class="start" [routerLink]="['/questionnaire-student']" routerLinkActive="router-link-active" >ابدأ</button>
        
    </div>
</div>