<div class="container-apartment">
    <div class="header-apartment">
        
        <h1>  تغيير كلمة السر </h1>
        <img src= "../../../../../assets/imgs/logo.png" alt="شعار المباني" class="logo">
    </div>
    <form  [formGroup]="ownerForm" (ngSubmit)="onSubmit()"  class="form">
        <table>
           


            <tr>
                <td><label for="password" class="boxss">كلمة  السر الحالية :</label></td>
                <td><input type="password" formControlName="currentPassword" placeholder="  ادخل كلمة سر اكثر من 6 حروف"
                    [ngClass]="{'is-invalid':(currentPassword?.touched || currentPassword?.dirty)&& currentPassword?.invalid}">
                    <span class="invalid-feedback">
                       @if(currentPassword?.errors?.['required'])
                       { <span>كلمة السر مطلوب</span>  }
        
                       @else if(currentPassword?.errors?.['minlength']) 
                       { <span>الحد الادني لكلمة السر 6 </span> }
                     </span>
                </td>
               
               
            </tr>

            


            <tr>

                

                <td><label for="password" class="boxss">كلمة  السر الجديدة :</label></td>
                <td><input type="password" formControlName="newPassword" placeholder="  ادخل كلمة سر اكثر من 6 حروف"
                    [ngClass]="{'is-invalid':(newPassword?.touched || newPassword?.dirty)&& newPassword?.invalid}">
                    <span class="invalid-feedback">
                       @if(newPassword?.errors?.['required'])
                       { <span>كلمة السر مطلوب</span>  }
        
                       @else if(newPassword?.errors?.['minlength']) 
                       { <span>الحد الادني لكلمة السر 6 </span> }
        
                       @else if(newPassword?.errors?.['pattern']) 
                       { <span>كلمة السر ضعيفه</span> }
                     </span>
                </td>
               

               

            </tr>
           <tr>


                

            <td><label for="confirmPassword" class="boxss">تاكيد كلمة السر الجديدة:</label></td>
            <td><input type="password" formControlName="confirmNewPassword" placeholder=" تاكيد كلمة السر "
                [ngClass]="{'is-invalid':(confirmNewPassword?.touched || confirmNewPassword?.dirty)&& confirmNewPassword?.invalid}">
                <span class="invalid-feedback">
                   @if(confirmNewPassword?.errors?.['required'])
                   { <span>تاكيد كلمة السر مطلوب</span>}
    
                   @else if(confirmNewPassword?.errors?.['mismatch']) 
                   { <span>تأكيد كلمة السر وكلمة السر غير متطابقة</span> }
                 </span>
            </td>           

            </tr>


            

           
        </table>
        <div class="form-buttons">
            <button type="submit" class="save-button">حفظ </button>
            <button type="button" class="cancel-button" [routerLink]="['/home-owner']" routerLinkActive="router-link-active">إلغاء</button>
        </div>
    </form>
</div>