<div class="container">
    <img src="../../../../../assets/imgs/logo.png" alt="شعار المباني" class="logo">
    <h1> هنوفرلك سكن مع اشخاص تشبهك </h1>
    <br>
    <hr>
    <!-- [formGroup]="questionnaireStudentForm" -->
    <!-- <form   class="form"  (ngSubmit)="onSubmit()">
        <table>
          <b> <u> <p> رقم 1 يدل علي فعل الشئ و رقم 5 يدل علي عدم فعله :</p> </u></b>


        <div class="question">
            
            <p> بحب التجمعات سواء العائلية أو مع اصحابي </p>
            <div class="options">
                <label>
                    <input type="radio" name="q1" value="1">
                    <span class="option one">1</span>
                </label>
                <label>
                    <input type="radio" name="q1" value="2">
                    <span class="option two">2</span>
                </label>
                <label>
                    <input type="radio" name="q1" value="3">
                    <span class="option three">3</span>
                </label>
                <label>
                    <input type="radio" name="q1" value="4">
                    <span class="option four">4</span>
                </label>
                <label>
                    <input type="radio" name="q1" value="5">
                    <span class="option five">5</span>
                </label>
            </div>
        </div>
    
                <hr>
      
        <div class="question">
            <p>أنا مش شخص بتكلم كتير </p>
            <div class="options">
                <label>
                    <input type="radio" name="q2" value="1">
                    <span class="option one">1</span>
                </label>
                <label>
                    <input type="radio" name="q2" value="2">
                    <span class="option two">2</span>
                </label>
                <label>
                    <input type="radio" name="q2" value="3">
                    <span class="option three">3</span>
                </label>
                <label>
                    <input type="radio" name="q2" value="4">
                    <span class="option four">4</span>
                </label>
                <label>
                    <input type="radio" name="q2" value="5">
                    <span class="option five">5</span>
                </label>
                
            </div>
        </div>
      <hr>
      
        







    <div class="question">
        
        <p> بحس إني مرتاح وسط الناس  </p>
        <div class="options">
            <label>
                <input type="radio" name="q3" value="1">
                <span class="option one">1</span>
            </label>
            <label>
                <input type="radio" name="q3" value="2">
                <span class="option two">2</span>
            </label>
            <label>
                <input type="radio" name="q3" value="3">
                <span class="option three">3</span>
            </label>
            <label>
                <input type="radio" name="q3" value="4">
                <span class="option four">4</span>
            </label>
            <label>
                <input type="radio" name="q3" value="5">
                <span class="option five">5</span>
            </label>
        </div>
    </div>
<hr>


    <div class="question">
        <p>    ببقي شخص مش بارز لما بكون وسط الناس  </p>
        <div class="options">
            <label>
                <input type="radio" name="q4" value="1">
                <span class="option one">1</span>
            </label>
            <label>
                <input type="radio" name="q4" value="2">
                <span class="option two">2</span>
            </label>
            <label>
                <input type="radio" name="q4" value="3">
                <span class="option three">3</span>
            </label>
            <label>
                <input type="radio" name="q4" value="4">
                <span class="option four">4</span>
            </label>
            <label>
                <input type="radio" name="q4" value="5">
                <span class="option five">5</span>
            </label>
            
        </div>
    </div>
   <hr>
  
    







<div class="question">
    
    <p>  انا ببدأ الكلام مع الناس بسهولة </p>
    <div class="options">
        <label>
            <input type="radio" name="q5" value="1">
            <span class="option one">1</span>
        </label>
        <label>
            <input type="radio" name="q5" value="2">
            <span class="option two">2</span>
        </label>
        <label>
            <input type="radio" name="q5" value="3">
            <span class="option three">3</span>
        </label>
        <label>
            <input type="radio" name="q5" value="4">
            <span class="option four">4</span>
        </label>
        <label>
            <input type="radio" name="q5" value="5">
            <span class="option five">5</span>
        </label>
    </div>
</div>
<hr>


<div class="question">
    <p> بحس ان معنديش كلام اقوله لما بحاول افتح كلام مع الناس </p>
    <div class="options">
        <label>
            <input type="radio" name="q6" value="1">
            <span class="option one">1</span>
        </label>
        <label>
            <input type="radio" name="q6" value="2">
            <span class="option two">2</span>
        </label>
        <label>
            <input type="radio" name="q6" value="3">
            <span class="option three">3</span>
        </label>
        <label>
            <input type="radio" name="q6" value="4">
            <span class="option four">4</span>
        </label>
        <label>
            <input type="radio" name="q6" value="5">
            <span class="option five">5</span>
        </label>
        
    </div>
</div>
<hr>









<div class="question">

<p>   بتكلم مع ناس مختلفة كتير فالتجمعات    </p>
<div class="options">
    <label>
        <input type="radio" name="q7" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q7" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q7" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q7" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q7" value="5">
        <span class="option five">5</span>
    </label>
</div>
</div>
<hr>

<div class="question">
<p> مبحبش ألفت انتباه الناس ليا    </p>
<div class="options">
    <label>
        <input type="radio" name="q8" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q8" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q8" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q8" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q8" value="5">
        <span class="option five">5</span>
    </label>
    
</div>
</div>
<hr>









<div class="question">
<hr>
<p> معنديش مشكله اكون مركز اهتمام الحواليا     </p>
<div class="options">
    <label>
        <input type="radio" name="q9" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q9" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q9" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q9" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q9" value="5">
        <span class="option five">5</span>
    </label>
</div>
</div>
<hr>

<div class="question">
<p>بكون هادي لو موجود مع ناس معرفهاش   </p>
<div class="options">
    <label>
        <input type="radio" name="q10" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q10" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q10" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q10" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q10" value="5">
        <span class="option five">5</span>
    </label>
    
</div>
</div>
<hr>

<div class="question">
<hr>
<p> بحس بالتوتر بسهولة   </p>
<div class="options">
    <label>
        <input type="radio" name="q51" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q51" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q51" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q51" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q51" value="5">
        <span class="option five">5</span>
    </label>
</div>
</div>
<hr>








<div class="question">
<hr>
<p> ببقي حاسس بالراحة النفسية أغلب الوقت    </p>
<div class="options">
    <label>
        <input type="radio" name="q11" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q11" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q11" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q11" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q11" value="5">
        <span class="option five">5</span>
    </label>
</div>
</div>
<hr>

<div class="question">
<p> ببقي حاسس بالقلق تجاه حاجات كتير  </p>
<div class="options">
    <label>
        <input type="radio" name="q12" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q12" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q12" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q12" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q12" value="5">
        <span class="option five">5</span>
    </label>
    
</div>
</div>
<hr>








<div class="question">
<tr>
    <td>
<p>   أنا نادرا ما بحس بمشاعر سلبية  </p>
<div class="options">
    <label>
        <input type="radio" name="q13" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q13" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q13" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q13" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q13" value="5">
        <span class="option five">5</span>
    </label>
</div>
</div>
<hr>

<div class="question">
<p>بحس اني بتضايق بسهولة </p>
<div class="options">
    <label>
        <input type="radio" name="q14" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q14" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q14" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q14" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q14" value="5">
        <span class="option five">5</span>
    </label>
    
</div>
</div>
<hr>








<div class="question">
<tr>
    <td>
<p> بحس ان مشاعري بتتجرح بسهولة  </p>
<div class="options">
    <label>
        <input type="radio" name="q15" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q15" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q15" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q15" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q15" value="5">
        <span class="option five">5</span>
    </label>
</div>
</div>
<hr>

<div class="question">
<p>    بحس اني بتأثر بسهولة بالمواقف  الل بتحصلي خلال اليوم وده بياثر علي المود  بتاعي  </p>
<div class="options">
    <label>
        <input type="radio" name="q16" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q16" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q16" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q16" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q16" value="5">
        <span class="option five">5</span>
    </label>
    
</div>
</div>
<hr>



<div class="question">
<hr>
<p> ممكن احس اني فرحان وبعدين زعلان وبعدين متحمس بعدين مكتئب وده كله في نفس اليوم عادي  </p>
<div class="options">
    <label>
        <input type="radio" name="q52" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q52" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q52" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q52" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q52" value="5">
        <span class="option five">5</span>
    </label>
</div>
</div>
<hr>






<div class="question">
<tr>
    <td>
<p>  بتعصب بسرعه    </p>
<div class="options">
    <label>
        <input type="radio" name="q19" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q19" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q19" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q19" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q19" value="5">
        <span class="option five">5</span>
    </label>
</div>
</div>
<hr>

<div class="question">
<p>     بحس غالبا بمشاعر سلبية </p>
<div class="options">
    <label>
        <input type="radio" name="q20" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q20" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q20" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q20" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q20" value="5">
        <span class="option five">5</span>
    </label>
    
</div>
</div>
<hr>







<div class="question">
<tr>
    <td>
<p>    بحس اني مش مهتم بالناس الل حواليا  </p>
<div class="options">
    <label>
        <input type="radio" name="q21" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q21" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q21" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q21" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q21" value="5">
        <span class="option five">5</span>
    </label>
</div>
</div>
<hr>

<div class="question">
<p>        الناس الل حواليا من اولوياتي     </p>
<div class="options">
    <label>
        <input type="radio" name="q22" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q2" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q22" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q22" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q22" value="5">
        <span class="option five">5</span>
    </label>
    
</div>
</div>
<hr>




<div class="question">
<tr>
    <td>
<p>   بحس اني ساعات ممكن ازعل الناس الل حواليا من غير قصد  </p>
<div class="options">
    <label>
        <input type="radio" name="q23" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q23" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q23" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q23" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q23" value="5">
        <span class="option five">5</span>
    </label>
</div>
</div>
<hr>

<div class="question">
<p>   بقدر مشاعر الناس الل حواليا و بحاول افهمها    </p>
<div class="options">
    <label>
        <input type="radio" name="q24" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q24" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q24" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q24" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q24" value="5">
        <span class="option five">5</span>
    </label>
    
</div>
</div>
<hr>




<div class="question">
<tr>
    <td>
<p>   مش بهتم لو حد بيمر بمشكلة  </p>
<div class="options">
    <label>
        <input type="radio" name="q25" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q25" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q25" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q25" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q25" value="5">
        <span class="option five">5</span>
    </label>
</div>
</div>
<hr>

<div class="question">
<p>    بحس اني طيب   </p>
<div class="options">
    <label>
        <input type="radio" name="q26" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q26" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q26" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q26" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q26" value="5">
        <span class="option five">5</span>
    </label>
    
</div>
</div>
<hr>




<div class="question">
<tr>
    <td>
<p>   بحس اني مش بيفرقلي الناس    </p>
<div class="options">
    <label>
        <input type="radio" name="q27" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q27" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q27" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q27" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q27" value="5">
        <span class="option five">5</span>
    </label>
</div>
</div>
<hr>

<div class="question">
<p>    باخد من وقتي عشان اساعد ال حواليا    </p>
<div class="options">
    <label>
        <input type="radio" name="q28" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q28" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q28" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q28" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q28" value="5">
        <span class="option five">5</span>
    </label>
    
</div>
</div>
<hr>




<div class="question">
<tr>
    <td>
<p>   بحاول اتفهم مشاعر الناس     </p>
<div class="options">
    <label>
        <input type="radio" name="q29" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q29" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q29" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q29" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q29" value="5">
        <span class="option five">5</span>
    </label>
</div>
</div>
<hr>

<div class="question">
<p>        الناس الل حواليا بيحسوا انهم مرتاحين فوجودي     </p>
<div class="options">
    <label>
        <input type="radio" name="q30" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q30" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q30" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q30" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q30" value="5">
        <span class="option five">5</span>
    </label>
    
</div>
</div>
<hr>




<div class="question">
<tr>
    <td>
<p>   بشوف نفسي شخص مبادر     </p>
<div class="options">
    <label>
        <input type="radio" name="q31" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q31" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q31" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q31" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q31" value="5">
        <span class="option five">5</span>
    </label>
</div>
</div>
<hr>

<div class="question">
<p>    بسيب حاجاتي في كل حتة     </p>
<div class="options">
    <label>
        <input type="radio" name="q32" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q32" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q32" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q32" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q32" value="5">
        <span class="option five">5</span>
    </label>
    
</div>
</div>
<hr>




<div class="question">
<tr>
    <td>
<p>   باخد بالي من التفاصيل     </p>
<div class="options">
    <label>
        <input type="radio" name="q33" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q33" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q33" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q33" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q33" value="5">
        <span class="option five">5</span>
    </label>
</div>
</div>
<hr>

<div class="question">
<p>      كل ما بحاول انظم الامور ببوظ الدنيا     </p>
<div class="options">
    <label>
        <input type="radio" name="q34" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q34" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q34" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q34" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q34" value="5">
        <span class="option five">5</span>
    </label>
    
</div>
</div>
<hr>




<div class="question">
<tr>
    <td>
<p>   بحب انجز في الاعمال المنزلية عشان يبقي مكاني دايما نضيف و مرتب     </p>
<div class="options">
    <label>
        <input type="radio" name="q35" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q35" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q35" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q35" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q35" value="5">
        <span class="option five">5</span>
    </label>
</div>
</div>
<hr>

<div class="question">
<p>        بنسي وبكسل ارجع الحاجات في مكانها     </p>
<div class="options">
    <label>
        <input type="radio" name="q36" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q36" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q36" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q36" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q36" value="5">
        <span class="option five">5</span>
    </label>
    
</div>
</div>
<hr>




<div class="question">
<tr>
    <td>
<p>   بحب تننظيم الماكن و ترتيبه     </p>
<div class="options">
    <label>
        <input type="radio" name="q37" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q37" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q37" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q37" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q37" value="5">
        <span class="option five">5</span>
    </label>
</div>
</div>
<hr>

<div class="question">
<p>       بأجل المذاكرة و اي مسئولية عليا   </p>
<div class="options">
    <label>
        <input type="radio" name="q38" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q38" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q38" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q38" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q38" value="5">
        <span class="option five">5</span>
    </label>
    
</div>
</div>
<hr>




<div class="question">
<tr>
    <td>
<p>   بخطط دايما و بمشي عالجدول    </p>
<div class="options">
    <label>
        <input type="radio" name="q39" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q39" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q39" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q39" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q39" value="5">
        <span class="option five">5</span>
    </label>
</div>
</div>
<hr>

<div class="question">
<p>       عندي انظباط في المذاكرة و الدراسة     </p>
<div class="options">
    <label>
        <input type="radio" name="q40" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q40" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q40" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q40" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q40" value="5">
        <span class="option five">5</span>
    </label>
    
</div>
</div>
<hr>




<div class="question">
<tr>
    <td>
<p>   عندي مهارات تواصل قوية     </p>
<div class="options">
    <label>
        <input type="radio" name="q41" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q41" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q41" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q41" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q41" value="5">
        <span class="option five">5</span>
    </label>
</div>
</div>
<hr>

<div class="question">
<p>   بحب النقاشات الواضحة و المحددة      </p>
<div class="options">
    <label>
        <input type="radio" name="q42" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q42" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q42" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q42" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q42" value="5">
        <span class="option five">5</span>
    </label>
    
</div>
</div>
<hr>




<div class="question">
<tr>
    <td>
<p>  بشوف نفسي شخص كريتيف و عندي نظرة مميزة     </p>
<div class="options">
    <label>
        <input type="radio" name="q43" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q43" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q43" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q43" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q43" value="5">
        <span class="option five">5</span>
    </label>
</div>
</div>
<hr>

<div class="question">
<p>   بميل اني أتكلم عن الاحداث و الأنشطة الل بعملها فيومي اكتر مني اني اخوض نقاشات فلسفية    </p>
<div class="options">
    <label>
        <input type="radio" name="q44" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q44" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q44" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q44" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q44" value="5">
        <span class="option five">5</span>
    </label>
    
</div>
</div>
<hr>




<div class="question">
<tr>
    <td>
<p>   انا غالبا عندي اقتراحات و حلول مبتكرة و عملية للمشاكل    </p>
<div class="options">
    <label>
        <input type="radio" name="q45" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q45" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q45" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q45" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q45" value="5">
        <span class="option five">5</span>
    </label>
</div>
</div>
<hr>

<div class="question">
<p>   انا شخص واقعي     </p>
<div class="options">
    <label>
        <input type="radio" name="q46" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q46" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q46" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q46" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q46" value="5">
        <span class="option five">5</span>
    </label>
    
</div>
</div>
<hr>




<div class="question">
<tr>
    <td>
<p>   انا سريع التعلم و بتأقلم مع الظروف الجديدة    </p>
<div class="options">
    <label>
        <input type="radio" name="q47" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q47" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q47" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q47" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q47" value="5">
        <span class="option five">5</span>
    </label>
</div>
</div>
<hr>

<div class="question">
<p>   بستخدم كلمات و مصطلحات معقدة عشان اعبر عن افكاري   </p>
<div class="options">
    <label>
        <input type="radio" name="q48" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q48" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q48" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q48" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q48" value="5">
        <span class="option five">5</span>
    </label>
    
</div>
</div>
<hr>




<div class="question">
<tr>
    <td>
<p>  بحب أحلل الاحداث </p>
<div class="options">
    <label>
        <input type="radio" name="q49" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q49" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q49" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q49" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q49" value="5">
        <span class="option five">5</span>
    </label>
</div>
</div>
<hr>

<div class="question">
<p>   انا دايما عندي افكار جديدة     </p>
<div class="options">
    <label>
        <input type="radio" name="q50" value="1">
        <span class="option one">1</span>
    </label>
    <label>
        <input type="radio" name="q50" value="2">
        <span class="option two">2</span>
    </label>
    <label>
        <input type="radio" name="q50" value="3">
        <span class="option three">3</span>
    </label>
    <label>
        <input type="radio" name="q50" value="4">
        <span class="option four">4</span>
    </label>
    <label>
        <input type="radio" name="q50" value="5">
        <span class="option five">5</span>
    </label>
    
</div>
</div>
<hr>






        
    </table>
        <button type="submit" class="submit-btn" (click)="onSubmit()">إرسال</button>
        <button type="button" class="cancel-btn">إلغاء</button>

    </form> -->
   
    <form class="form" (ngSubmit)="onSubmit()" #questionForm="ngForm">
        <table>
          <b><u><p>رقم 1 يدل علي فعل الشئ و رقم 5 يدل علي عدم فعله :</p></u></b>
          @for(question of questions;track $index)
          {
            <div class="question">
              <p>{{$index + 1}} - {{ question.text }}</p>
              <div class="options">
                @for(option of options;track $index)
                {
                  <label>
                    <input type="radio" name="q{{$index + 1}}{{question.num}}" [value]="option" [(ngModel)]="answers[question.num]" required>
                    <span class="option" >{{ option }}</span>
                  </label>
                }
              </div>
            </div>
          }
          <hr>
        </table>
        <button type="submit" class="submit-btn">إرسال</button>
        <!-- <button type="button" class="cancel-btn" (click)="onCancel()">إلغاء</button> -->
      </form>
      
    
</div>