.custom-shape-divider-top-1716228954 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1716228954 svg {
    position: relative;
    display: block;
    width: calc(207% + 1.3px);
    height: 90px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1716228954 .shape-fill {
    fill: #1FD498;
}

.container .logo{
   
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
  
}
.container{
width: 100%;

}
.bt1{
    width: 20%;
 background-color: #1FD498;
 font-size: 3vw;
 color: white;
 border: none;
 margin-top: 2%;

}


.butt{
    display: flex;
    justify-content:space-evenly;
     flex-direction: row;
     align-items: center;
}


@media (max-width: 768px){
    .container .logo {
        margin-top: 20%;
   }  

   .bt1{
    margin-top: 5%;
    width: 40%;
    font-size: 5vw;
   }
}